p {
  font-family: CircularStd-Book, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #7E7E7E;
  line-height: 22px; }

.admin-bar .site-navigation-fixed.navigation-top {
  top: 30px; }

header .navigation-top {
  background: #301659;
  border-bottom: none; }
  header .navigation-top .custom-logo-link {
    display: none;
    float: left; }
  header .navigation-top #site-navigation {
    clear: none;
    float: right;
    margin-top: 15px; }
  header .navigation-top .current-menu-item > a, header .navigation-top .navigation-top .current_page_item > a {
    color: #FFFFFF; }

header .site-navigation-fixed .custom-logo-link {
  display: block; }

.panel-content .wrap {
  padding-top: 8em; }

.w-100 {
  width: 100%; }

.container {
  float: none;
  margin: 0 auto;
  width: 100%; }
  .container.container--wide {
    max-width: 1320px; }
    .container.container--wide .container--wide-content {
      transform: matrix(1, 0, 0, 1, 0, 0);
      max-width: 960px;
      padding: 80px 9.09091%;
      background-color: #4663CE;
      box-shadow: 0 4px 37px rgba(26, 16, 51, 0.15);
      margin-top: -8%;
      position: relative;
      z-index: 2; }
      .container.container--wide .container--wide-content h1 {
        position: relative;
        padding-bottom: 20px; }
        .container.container--wide .container--wide-content h1:after {
          content: "";
          position: absolute;
          width: 40px;
          height: 5px;
          background: #FFFFFF;
          bottom: 0;
          left: 0; }

.header-slider {
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
  padding-bottom: 40px;
  background: #301659; }
  .header-slider:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: #ffffff;
    z-index: 1; }
  .header-slider .header-inner {
    position: relative;
    z-index: 2; }
    .header-slider .header-inner .slider-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 48.02343%;
      overflow: hidden; }
      .header-slider .header-inner .slider-container .slider {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        .header-slider .header-inner .slider-container .slider .slide-img {
          width: 100%;
          max-height: 635px; }

.up-slider-text {
  position: relative; }

h1 {
  font-family: CircularStd-Book, Arial, Helvetica, sans-serif;
  font-size: 55px;
  color: #FFFFFF; }

.white-text {
  color: #FFFFFF; }
